
<div class="row">
  <div id='map' class="col-sm-12 col-lg-7 px-0"></div>

  <% if editable %>
  <ul class="list-unstyled col-sm-12 col-lg-5">
    <li>
      Specify the Long-Lat bounding box by clicking and holding <key>Shift</key> while dragging the mouse pointer.
    </li>
    <li>
      The Long-Lat input fields will be updated when you release the mouse button.
    </li>
  </ul>
  <% end %>

</div>

<script>
  $(document).ready(function(){
    var accessToken = '<%= Settings.mapbox.access_token %>';
    var mapBounds   = <%= map.bounds.to_json %>;
    var geojson     = <%= geojson_feature_collection(map.id, map.markers).to_json.html_safe %>;
    var options     = {
        editable: <%= editable.to_json.html_safe %>,
        newMap:   <%= map.new_record?.to_json.html_safe %>
    };
    window.mapHandler = new window.MapHandler('map', accessToken, mapBounds , geojson, options);
  });
</script>

<%= render :partial => "map_modal" %>