<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Oneconcern Indika" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Oneconcern Indika" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'maps', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="main_area">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
